<?xml version="1.0"?>
<!--
/**
 * FPX_DemoTruckStore module
 *
 * @category    FPX
 * @package     FPX_DemoTruckStore
 * @copyright   Copyright (c) 2017 FPX (www.fpx.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="FPX_DemoTruckStore" setup_version="0.6.0">
        <sequence>
            <module name="Magento_Eav" />
            <module name="FPX_Connector" />
        </sequence>
    </module>
</config>
