<?xml version="1.0"?>
<!--
/**
 * FPX_Connector events
 *
 * @category    FPX
 * @package     FPX_Connector
 * @copyright   Copyright (c) 2017 FPX (www.fpx.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="clean_session_after_place_order" instance="FPX\Connector\Observer\CleanSessionAfterPlaceOrder" />
    </event>
</config>
