<?xml version="1.0"?>
<!--
/**
 * FPX_Connector system
 *
 * @category    FPX
 * @package     FPX_Connector
 * @copyright   Copyright (c) 2017 FPX (www.fpx.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="fpx_connector" translate="label" sortOrder="100000">
            <label>FPX Connector</label>
        </tab>
        <section id="fpxconnector" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Configuration</label>
            <tab>fpx_connector</tab>
            <resource>FPX_Connector::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_url" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL</label>
                    <comment>FPX API URL.</comment>
                </field>
                <field id="api_ver" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Version</label>
                    <comment>FPX API Version. Default is 19. Should not be changed, unless instructed by FPX.</comment>
                </field>
                <field id="client_alias" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Alias</label>
                    <comment>Client Alias required to access FPX API.</comment>
                </field>
                <field id="profile_name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Profile Name</label>
                    <comment>Profile Name required to access FPX API.</comment>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <comment>API Key required to access FPX API.</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
